<a href="<%= user_posts_path(@user) %>">
    <button id="back-btn">⬅</button>
</a>
<div class="user-box">
    <%= render partial: 'shared/user_details', locals: { user: @user } %>
</div>
<div class="bio">
    <h3>Bio</h3>
    <p>
        <%= @user.bio %>
    </p>
</div>
<% @three_recent_posts.each do |post| %>
    <a href="<%= user_post_path(@user, post) %>">
        <div class="post bio">
            <h3>Post <%= raw "#" + post.id.to_s %></h3>
            <p><%= post.text %></p>
            <div class='post-interactions'>
                <span>Comments: <%= post.comments_counter %>,</span>
                <span>Likes: <%= post.likes_counter %></span>
            </div>
        </div>
    </a>
<% end %>
<a href="<%= user_posts_path(@user) %>">
    <button id="pagination">See all posts</button>
</a>
