<a href="<%= user_posts_path() %>">
  <button id="back-btn">⬅</button>
</a>
<h3>Post <%= "#" + @post.id.to_s %> by <%= @user.name %></h3>
<h2><%= @post.title %></h2>
<p><%= @post.text %></p>
<div class='post-interactions'>
  <span>Comments: <%= @post.comments_counter %>,</span>
  <span>Likes: <%= @post.likes_counter %></span>
</div>
<% if current_user.present? %>
  <div class="post-actions">
    <%= button_to "Like", like_user_post_path(@user, @post), method: :post, remote: true %>
    <%= button_to "Unlike", unlike_user_post_path(@user, @post), method: :delete, remote: true %>
  </div>
<% end %>
<h3>Comments:</h3>
<% @post.comments.each do |comment| %>
<div class="post-comments">
  <span><%= comment.author.name %>:</span>
  <span><%= comment.text %></span>
</div>
<% end %>
<a href="<%= new_user_post_comment_path(@user, @post) %>">
  <button id="back-btn">Add a comment</button>
</a>
